<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/headFragment :: headerFragment (pageTitle='app demo')">
<meta charset="UTF-8">
<title>Spring Boot + Thymeleaf</title>
</head>
<body>
  <h2>Edit User</h2>
  <form th:action="@{/userSelfManagement/saveUser}" th:object="${user}" method="post">
	<input type="hidden" th:field="*{id}" />
	
    <table>
      <tr>
        <td>UserName*</td>
        <td><input th:field="*{userName}" /></td>
      </tr>
  		<tr>
        <td>Password*</td>
        <td><input type="password" th:field="*{password}" /></td>
      </tr>
      <tr>
        <td>Full Name*</td>
        <td><input  th:field="*{fullName}" /></td>
      </tr>

      <tr>
        <td>Gender*</td>
        <td>
            <input type="radio" th:field="*{gender}" th:value=0 />
            <label th:text="male" /></label>
            <input type="radio" th:field="*{gender}" th:value=1 />
            <label th:text="female" /></label>
        </td>
      </tr>
      <tr>
        <td>Email</td>
        <td><input  th:field="*{email}" /></td>
      </tr>
      <tr>
        <td>Secret Question</td>
        <td><textarea  th:field="*{secretQuestion}"/></textarea></td>
      </tr>
      
      <tr>
        <td>Secret Answer</td>
        <td><textarea th:field="*{secretAnswer}"/></textarea></td>
      </tr>
      <tr>
        <td colspan="2"><input type="submit" value="Submit" /></td>
      </tr>
    </table>
  </form>
</body>
</html>