<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/headFragment :: headerFragment (pageTitle='app demo')">
    <title></title>
</head>
<body>

<table border="1">


    <tr th:each="user : ${users}">
        <td th:text="${user.userName}"></td>
        <td th:text="${user.fullName}"></td>
        <td th:text="${user.email}"></td>
        <td>
        		<div th:switch="${user.gender}"> 
					<p th:case=0>Male</p>
					<p th:case=1>Female</p>
				</div>
        </td>
         <td>
        		<div th:switch="${user.status}"> 
					<p th:case=0>Actived</p>
					<p th:case=1>Unactived</p>
				</div>
        </td>
        
        <td>
			<form th:action="@{/userManagement/updateStatus}" method="get">
				<input type="hidden" name="userId" th:value="${user.id}" />
				<div th:switch="${user.status}"> 
					<input th:case=0 type="hidden" th:value=1 name="status"/>	
					<input th:case=1 type="hidden" th:value=0 name="status"/>	
				</div>
				<div th:switch="${user.status}"> 
					<input th:case=0 type="submit" value="Disable">	
					<input th:case=1 type="submit" value="Enable">	
				</div>
				

			</form>        
        </td>
        </tr>

</table>
</body>
</html>