<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head  th:replace="fragments/headFragment :: headerFragment (pageTitle='app demo')">
<meta charset="UTF-8">
<title>Spring Boot + Thymeleaf</title>
</head>
<body>
  <h2>Edit User</h2>
  <form th:action="@{/functionManagement/saveFunction}" th:object="${function}" method="post">
	<input type="hidden" th:field="*{id}" />
	
    <table>
      <tr>
        <td>Function Name*</td>
        <td><input type="text" th:field="*{functionName}" /></td>
      </tr>
      <tr>
        <td>Function Code*</td>
        <td><input type="text" th:field="*{functionCode}" /></td>
      </tr>
      
      <tr>
        <td>Function Url*</td>
        <td><input type="text" th:field="*{functionUrl}" /></td>
      </tr>
   
      <tr>
        <td>Description</td>
        <td><textarea th:field="*{description}"/></textarea></td>
      </tr>
      
      <tr>
        <td colspan="2"><input type="submit" value="Submit" /></td>
      </tr>
    </table>
  </form>
</body>
</html>