<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/headFragment :: headerFragment (pageTitle='app demo')"s>
<meta charset="UTF-8">
<title>Spring MVC + Thymeleaf</title>
</head>
<body>
  <h2>USER</h2>
  <p th:text="${report}" />
  <table>
    <tr>
      <td>Role Name:</td>
      <td><p th:text="${role.roleName}" /></td>
    </tr>
    <tr>
      <td>Role Code:</td>
      <td><p th:text="${role.roleCode}" /></td>
    </tr>    
    <tr>
      <td>Description:</td>
      <td><p th:text="${role.description}" /></td>
    </tr>
    
    <tr>
      <td>Status:</td>
      <td>
       		<div th:switch="${role.status}"> 
				<p th:case=0>Actived</p>
				<p th:case=1>Unactived</p>
			</div>
      </td>
    </tr>
     
  </table>
</body>
</html>